# Ignore node_modules directory
node_modules/

# Ignore logs and temporary files
*.log
*.tmp

# Ignore environment configuration files
.env
.env.local

# Ignore macOS .DS_Store files
.DS_Store

# Ignore JetBrains IDE directories
.idea/
*.iml

# Ignore Visual Studio Code directories
.vscode/

# Ignore package-lock.json for Node.js projects
package-lock.json

# Ignore compiled Python files
*.pyc

# Ignore compiled Java class files
*.class

# Ignore compiled C/C++ binaries
*.out

# Ignore compiled Go binaries
*.exe

# Ignore database files
*.sqlite
*.db
